../0x00-hello_world/Betty/
../0x02-functions_nested_loops/#100-times_table.c#
../0x02-functions_nested_loops/.#100-times_table.c
../0x02-functions_nested_loops/10-main.c
../0x02-functions_nested_loops/3-islower
../0x02-functions_nested_loops/3-main.c
../0x02-functions_nested_loops/4-main.c
../0x02-functions_nested_loops/5-main.c
../0x02-functions_nested_loops/5-sign
../0x02-functions_nested_loops/7-print_last_digit.c~
../0x02-functions_nested_loops/8-24
../0x02-functions_nested_loops/8-main.c
../0x02-functions_nested_loops/9-times_table.c~
../0x02-functions_nested_loops/test.c
../0x02-functions_nested_loops/test.c~
../0x03-debugging/holberton.h 
../0x04-more_functions_nested_loops/0-main.c
../0x04-more_functions_nested_loops/1-isdigit.c~
../0x04-more_functions_nested_loops/1-main.c
../0x04-more_functions_nested_loops/1-main.c~
../0x04-more_functions_nested_loops/101-main.c
../0x04-more_functions_nested_loops/101-print_numbers
../0x04-more_functions_nested_loops/2-main.c
../0x04-more_functions_nested_loops/2-mul
../0x04-more_functions_nested_loops/2-mul.c~
../0x04-more_functions_nested_loops/3-main.c
../0x04-more_functions_nested_loops/3-print_numbers
../0x04-more_functions_nested_loops/3-print_numbers.c~
../0x04-more_functions_nested_loops/4-main.c
../0x04-more_functions_nested_loops/4-print_most_number
../0x04-more_functions_nested_loops/5-main.c
../0x04-more_functions_nested_loops/5-more_numbers
../0x04-more_functions_nested_loops/5-more_numbers.c~
../0x04-more_functions_nested_loops/6-lines
../0x04-more_functions_nested_loops/6-main.c
../0x04-more_functions_nested_loops/6-print_line.c~
../0x04-more_functions_nested_loops/7-diagonals
../0x04-more_functions_nested_loops/7-main.c
../0x04-more_functions_nested_loops/8-main.c
../0x04-more_functions_nested_loops/8-print_square.c~
../0x04-more_functions_nested_loops/8-squares
#0-strcat.c#
0-main.c
0-strcat
0-strcat.c~
holberton.h~
